/**
 * @file
 * Default style for the Language Dropdown module
 */

/* default style */
.language-dropdown {
  position: relative;
}

/* toggler */
.language-toggler {
  display: inline-block;
  width: auto;
  padding: 10px 35px 10px 10px;
  background: url(../img/arrow_down.png) no-repeat 100% 17px #aaa;
  line-height: 20px;
  color: #fff;
  text-decoration: none;
}
.language-toggler:hover,
.language-toggler:focus {
  background-color: #777;
  color: #fff;
  text-decoration: none;
}

/* default dropdown styling */
.language-dropdown nav {
  position: absolute;
  top: 38px;
  right: 0;
  min-width: 100px;
  overflow: hidden;
  max-height: 0;
  background: #aaa;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: max-height;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  transition-property: max-height;
}
.language-dropdown ul {
  margin: 0 !important;
  padding: 5px !important;
}
.language-dropdown li {
  margin: 0 !important;
  padding: 0 !important;
}
.language-dropdown ul span,
.language-dropdown ul a {
  display: block;
  padding: 5px;
  color: #fff;
}
.language-dropdown ul span {
  color: #ccc;
}
.language-dropdown ul a:hover {
  background: #777;
  color: #fff;
  text-decoration: none;
}

/* visible dropdown */
.language-dropdown.show .language-toggler {
  background-color: #aaa;
}
.language-dropdown.show .language-toggler:hover {
  background-color: #777;
}
.language-dropdown.show nav {
  max-height: 200px;
  z-index: 400;
}
